@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "simple_calendar";

.good-icon {
  font-size:2.0em;
  color:#00CC66;
};

.bad-icon {
  font-size:2.0em;
  color:#990000;
};